{
  "openapi": "3.0.4",
  "info": {
    "title": "Fishhealth API",
    "description": "\nPlease note that the lice data exposed through API are raw data and the usage of these for management of aquaculture as defined by law and regulations is the sole responsibility of Norwegian Food Safety Authority (Mattilsynet).\n\nPlease also note the following about the lice and treatment data exposed:\n\n* The data are raw data reported from the fish farms and should be correct by the reported time. However there might be data inaccuracies both for individual aquaculture sites as well as for compiled information.\n* The data are not manually corrected by Norwegian Food Safety Authority before entering Fishhealth and being exposed through API (same as data delivered from Norwegian Food Safety Authority on public/media request).\n* The data are quality controlled when used by Norwegian Food Safety Authority in supervision / decisions\n* The authority does not have control of use of data after publishing. The user of the data has the responsibility of quality control of data.\n\nSpecial note on the data about cleanerfish: From the 19th of April 2018 there might be missing data due to transition to new reporting.\n\n### API news\nGeneral API information and notifications about changes to the API: [https://developer.barentswatch.no](https://developer.barentswatch.no)\n",
    "termsOfService": "https://developer.barentswatch.no/docs/fishhealth",
    "contact": {
      "name": "API information and contact information",
      "url": "https://www.barentswatch.no/artikler/apnedata/"
    },
    "license": {
      "name": "NLOD",
      "url": "https://data.norge.no/nlod"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://www.barentswatch.no/bwapi"
    }
  ],
  "paths": {
    "/v1/geodata/fishhealth/licenseelist": {
      "get": {
        "tags": [
          "AquaCultureLists"
        ],
        "summary": "List of licensees",
        "description": "Get a complete list of organizations holding an aquaculture license for any species issued by the\nDirectorate of Fisheries (www.fiskeridir.no).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/species": {
      "get": {
        "tags": [
          "AquaCultureLists"
        ],
        "summary": "List of all species",
        "description": "Get a list of all species in the aquaculture register.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/codspawningground/{id}": {
      "get": {
        "tags": [
          "CodSpawningGround"
        ],
        "summary": "Get information about a codspawning ground.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of codspawning ground",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.CodSpawningGrounds.CodSpawningGround"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.CodSpawningGrounds.CodSpawningGround"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.CodSpawningGrounds.CodSpawningGround"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/download/anonymous-exportrestrictions": {
      "get": {
        "tags": [
          "Download"
        ],
        "summary": "Anonymously download dataset to chart plotter and other file formats",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/locality/diseasezonehistory/{localityNo}/{year}/{week}": {
      "get": {
        "tags": [
          "DiseaseHistory"
        ],
        "summary": "Get history of disease zones for site",
        "description": "Get a history of ISA and PD protection zones and surveillencezone, and also ISA 10km circle (exportrestrictionzone)\nfor a site.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/locality/diseasezonehistory/{localityNo}": {
      "get": {
        "tags": [
          "DiseaseHistory"
        ],
        "summary": "Get history of disease zones for site",
        "description": "Get a history of ISA and PD protection zones and surveillencezone, and also ISA 10km circle (exportrestrictionzone)\nfor a site.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/geodata/fishhealth/exportrestrictions/{year}/{week}": {
      "get": {
        "tags": [
          "ExportRestrictions"
        ],
        "summary": "Export restrictions for week",
        "description": "Fish from aquaculture farms 10 km or closer to a farm infected by, or officially suspected of being\ninfected by, infectious salmon anemia (ISA) may not be exported to Australia.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/exportrestrictions/{localityNo}/{year}/{week}": {
      "get": {
        "tags": [
          "ExportRestrictions"
        ],
        "summary": "Export info about an export restriction zone for week",
        "description": "Fish from aquaculture farms 10 km or closer to a farm infected by, or officially suspected of being\ninfected by, infectious salmon anemia (ISA) may not be exported to Australia.\n            \nThe result includes a list of other localities within that 10 km zone.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fairways/{id}": {
      "get": {
        "tags": [
          "Fairway"
        ],
        "summary": "Get fairway by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "fairway id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.Fairways.Fairway"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.Fairways.Fairway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.Fairways.Fairway"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/download/fishhealth": {
      "get": {
        "tags": [
          "FishhealthDownload"
        ],
        "summary": "Fish Health data export",
        "description": "Endpoints to download export data for localities with salmonoid license as excel or csv files.\n            \nCleaner fish data is not included after week 16, 2018, because of changes in reporting requirements.",
        "parameters": [
          {
            "name": "reporttype",
            "in": "query",
            "description": "'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported lice\n             counts pr week. 'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical\n             removal.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.FishHealthReportType"
            }
          },
          {
            "name": "filetype",
            "in": "query",
            "description": "Specifies output file format. 'xlsx', 'csv'",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.FishHealthReportFileFormat"
            }
          },
          {
            "name": "localityno",
            "in": "query",
            "description": "aquaculture site number",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fromweek",
            "in": "query",
            "description": "fromyear and fromweek specifies the first week to include in the export. Must\n             correspond to a real year/week combination. If omitted, the export will include all weeks up to the\n             specified toyear/toweek.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toweek",
            "in": "query",
            "description": "toyear and toweek specifies the last week to include in the export. Must correspond\n             to a real year/week combination. If omitted, the export will include data from the specified\n             fromyear/fromweek (see above). If neither from or to is specified, the export will include all weeks.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/geodata/download/fishhealth/count": {
      "get": {
        "tags": [
          "FishhealthDownload"
        ],
        "summary": "Data download count",
        "description": "Output is number of rows that will be exported with current settings. Only contains data for localities\nwith salmonoid license.",
        "parameters": [
          {
            "name": "reporttype",
            "in": "query",
            "description": "'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported\n            lice counts pr week. 'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical\n            removal.\n            Available values: disease, lice, treatments",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.FishHealthReportType"
            }
          },
          {
            "name": "localityno",
            "in": "query",
            "description": "aquaculture site number",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fromweek",
            "in": "query",
            "description": "fromyear and fromweek specifies the first week to include in the export. Must\n            correspond to a real year/week combination. If omitted, the export will include all weeks up to the\n            specified toyear/toweek (see below).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toweek",
            "in": "query",
            "description": "toyear and toweek specifies the last week to include in the export. Must correspond to\n            a real year/week combination. If omitted, the export will include data from the specified fromyear/fromweek\n            (see above). If neither from or to is specified, the export will include all weeks.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/download/fishhealth/preview": {
      "get": {
        "tags": [
          "FishhealthDownload"
        ],
        "summary": "Fish Health data export preview",
        "description": "Preview of 10 rows of Fish Health export data. Only contains data for localities with salmonoid\nlicense.",
        "parameters": [
          {
            "name": "reporttype",
            "in": "query",
            "description": " 'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported lice counts pr week.\n'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical removal.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.FishHealthReportType"
            }
          },
          {
            "name": "localityno",
            "in": "query",
            "description": "aquaculture site number",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fromweek",
            "in": "query",
            "description": "fromyear and fromweek specifies the first week to include in the export. Must correspond to a real year/week\ncombination. If omitted, the export will include all weeks up to the specified toyear/toweek",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toweek",
            "in": "query",
            "description": "toyear and toweek specifies the last week to include in the export. Must correspond to a real year/week\ncombination. If omitted, the export will include data from the specified fromyear/fromweek (see above).\nIf neither from or to is specified, the export will include all weeks.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toyear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.LocalityWeekIlaPdExportDto"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.LocalityWeekExportDto"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.TreatmentsExportDto"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/localities": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "List all aquaculture sites",
        "description": "Returns a complete and compact list of aquaculture sites with names. The property localityNo is used in\nother endpoints to request detailed data for sites.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Optional query (search by name or site id)",
            "schema": {
              "maxLength": 500,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/localitieswithsalmonoids": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "List all aquaculture sites that have had a salmonoid license",
        "description": "\nReturns the names and locality numbers of all aquaculture sites that have had a salmonoid license.\n                Aquaculture sites that have had different names for the same locality number have one entry per name.\n\nTo get all aquaculture sites with salmonoid licenses in a given week, you can use the endpoint\n                \"v2/geodata/fishhealth/locality/{year}/{week}\" with the \"OnlyWithSalmonoidLicense\" filter.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/localitiesoverlimitbyweek": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Get count of sites over lice limit by week",
        "description": "Weekly count of sites over lice limit",
        "parameters": [
          {
            "name": "startYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/localitiesoverlimitbyyear": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Average count and percentage of sites over lice limit by year",
        "parameters": [
          {
            "name": "startYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/localitiesoverlimitbyyearandregion": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Average count and percentage of sites over lice limit, grouped by region",
        "description": "The grouping is done by *current* counties (fylker).",
        "parameters": [
          {
            "name": "startYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/{year}/{week}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "National overview for a week",
        "description": "Get summary data for all aquaculture sites for a particular week. Suited to produce an overview of the number\nof aquaculture sites that has lice or disease issues in a week, but also how many aquaculture sites that have submitted\na report for this week.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ila",
            "in": "query",
            "description": "Include only sites with ISA this week (both confirmed and suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IlaConfirmed",
            "in": "query",
            "description": "Include only sites with ISA this week (only confirmed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IlaSuspected",
            "in": "query",
            "description": "Include only sites with ISA this week (only suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Pd",
            "in": "query",
            "description": "Include only sites with PD this week (both confirmed and suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PdConfirmed",
            "in": "query",
            "description": "Include only sites with PD this week (only confirmed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PdSuspected",
            "in": "query",
            "description": "Include only sites with PD this week (only suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllWithReport",
            "in": "query",
            "description": "All sites that have reported this week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllWithoutReport",
            "in": "query",
            "description": "All sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllFallowWithoutReport",
            "in": "query",
            "description": "All fallow sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllReportNotMandatoryWithoutReport",
            "in": "query",
            "description": "Sites not required to report lice count. This applies to sites that do not produce salmon or trout,\nsites that are on land, and to slaughter holding cages",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllNotFallowWithoutReport",
            "in": "query",
            "description": "All active sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AboveLiceThreshold",
            "in": "query",
            "description": "Above 0.5 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BelowLiceThreshold",
            "in": "query",
            "description": "Below 0.5 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AboveMinimumLiceThreshold",
            "in": "query",
            "description": "Above 0.2 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BelowMinimumLiceThreshold",
            "in": "query",
            "description": "Below 0.2 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MinLiceUserThreshold",
            "in": "query",
            "description": "User defined minimum threshold for average female lice",
            "schema": {
              "maximum": 1.7976931348623157E+308,
              "minimum": 0,
              "exclusiveMinimum": true,
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "MaxLiceUserThreshold",
            "in": "query",
            "description": "User defined maximum threshold for average female lice",
            "schema": {
              "maximum": 1.7976931348623157E+308,
              "minimum": 0,
              "exclusiveMinimum": true,
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Organization",
            "in": "query",
            "description": "Company/organization number; number returned as OrgNo/organizationNo from other endpoints",
            "schema": {
              "maxLength": 500,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "HasSubstanceTreatments",
            "in": "query",
            "description": "has reported substance treatment",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Substance",
            "in": "query",
            "description": "E.g. substance=1 (id returned as substanceId from other endpoints providing treatment information)",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "SubstanceOtherInFeed",
            "in": "query",
            "description": "Sites treated in-feed with other substances (other substances substance id=99)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SubstanceOtherBath",
            "in": "query",
            "description": "Sites bath treated with other substances (other substances substance id=99)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ProductionType",
            "in": "query",
            "description": "Type of production license.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "\n            matfisk, matfisk5pst, matfisk-eco, settefisk, stamfisk, gronn-a, gronn-b, gronn-c, gronn-konvertert,\n            akvakulturdyr-til-konsum, akvakulturdyr-i-tidlige-livsstadier, alger-til-for-konsum, skalldyr, alger-tidlig-fase,\n            oppbevaring-leppefisk, andre, stamdyr, havbeite\n            "
            },
            "example": "\n            matfisk, matfisk5pst, matfisk-eco, settefisk, stamfisk, gronn-a, gronn-b, gronn-c, gronn-konvertert,\n            akvakulturdyr-til-konsum, akvakulturdyr-i-tidlige-livsstadier, alger-til-for-konsum, skalldyr, alger-tidlig-fase,\n            oppbevaring-leppefisk, andre, stamdyr, havbeite\n            "
          },
          {
            "name": "Purpose",
            "in": "query",
            "description": "Type of production license purpose",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "\n            kommersiell, forskning, slaktemerd, fiskepark, visning, undervisning, fangstbasertakvakultur, manntall\n            "
            },
            "example": "\n            kommersiell, forskning, slaktemerd, fiskepark, visning, undervisning, fangstbasertakvakultur, manntall\n            "
          },
          {
            "name": "AnyGreen",
            "in": "query",
            "description": "\"Green\"-license may be used on sites",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CountyMunicipality",
            "in": "query",
            "description": "Norwegian \"kommune-/fylkenummer\"",
            "schema": {
              "maxLength": 20,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "CleanerFish",
            "in": "query",
            "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\nafter week 16, 2018, because of changes in reporting requirements.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Species",
            "in": "query",
            "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\nafter week 16, 2018, because of changes in reporting requirements.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "MechanicalRemoval",
            "in": "query",
            "description": "Has reported mechanical removal of lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "InsideIlaControlArea",
            "in": "query",
            "description": "All sites that are inside an ISA restricted zone",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ProductionArea",
            "in": "query",
            "description": "The id of productionarea. Valid values are 1-13",
            "schema": {
              "maximum": 13,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ShrimpFishingGroundProximity",
            "in": "query",
            "description": "All sites that are within 1000 m of shrimpfishingground",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ShrimpfishinggroundOrCodspawninggroundProximity",
            "in": "query",
            "description": "All sites that are within 500 m of shrimpfishingground or codspawningground",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsOnLand",
            "in": "query",
            "description": "Sites that are on land (if false only sites at sea are included)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OnlyWithSalmonoidLicense",
            "in": "query",
            "description": "Only include localities that have a license for salmon, trout or rainbow trout",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "LicenseSpecies",
            "in": "query",
            "description": "One or more species (related to aquaculture register) in lowercase (returned from other endpoint)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "WithinPolygon",
            "in": "query",
            "description": "A polygon, that (when set) makes this method only return localities within the polygon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NonMedicinalTreatmentType",
            "in": "query",
            "description": "Include only localities with the specified nonMedicinalTreatmentTypes.\nOnly relevant for reports from updated licereport form starting 2024.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BW.Api.Api.Licereport.Models.LiceReport.NonMedicinalTreatmentType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/geodata/fishhealth/locality/{year}/{week}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Aquaculture site summary for a week",
        "description": "Returns lice and treatment info for specified week, along with basic site info like id, name and position.\nThe sites returned may be filtered with optional query parameters.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TagFilteredLocalities",
            "in": "query",
            "description": "Include all sites and tag filter matches (if false only filter matches are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Ila",
            "in": "query",
            "description": "Include only sites with ISA this week (both confirmed and suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IlaConfirmed",
            "in": "query",
            "description": "Include only sites with ISA this week (only confirmed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IlaSuspected",
            "in": "query",
            "description": "Include only sites with ISA this week (only suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Pd",
            "in": "query",
            "description": "Include only sites with PD this week (both confirmed and suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PdConfirmed",
            "in": "query",
            "description": "Include only sites with PD this week (only confirmed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PdSuspected",
            "in": "query",
            "description": "Include only sites with PD this week (only suspected)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllWithReport",
            "in": "query",
            "description": "All sites that have reported this week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllWithoutReport",
            "in": "query",
            "description": "All sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllFallowWithoutReport",
            "in": "query",
            "description": "All fallow sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllReportNotMandatoryWithoutReport",
            "in": "query",
            "description": "Sites not required to report lice count. This applies to sites that do not produce salmon or trout,\nsites that are on land, and to slaughter holding cages",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AllNotFallowWithoutReport",
            "in": "query",
            "description": "All active sites that have not reported for specified week",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AboveLiceThreshold",
            "in": "query",
            "description": "Above 0.5 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BelowLiceThreshold",
            "in": "query",
            "description": "Below 0.5 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AboveMinimumLiceThreshold",
            "in": "query",
            "description": "Above 0.2 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "BelowMinimumLiceThreshold",
            "in": "query",
            "description": "Below 0.2 avg. female lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MinLiceUserThreshold",
            "in": "query",
            "description": "User defined minimum threshold for average female lice",
            "schema": {
              "maximum": 1.7976931348623157E+308,
              "minimum": 0,
              "exclusiveMinimum": true,
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "MaxLiceUserThreshold",
            "in": "query",
            "description": "User defined maximum threshold for average female lice",
            "schema": {
              "maximum": 1.7976931348623157E+308,
              "minimum": 0,
              "exclusiveMinimum": true,
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "Organization",
            "in": "query",
            "description": "Company/organization number; number returned as OrgNo/organizationNo from other endpoints",
            "schema": {
              "maxLength": 500,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "HasSubstanceTreatments",
            "in": "query",
            "description": "has reported substance treatment",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Substance",
            "in": "query",
            "description": "E.g. substance=1 (id returned as substanceId from other endpoints providing treatment information)",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "SubstanceOtherInFeed",
            "in": "query",
            "description": "Sites treated in-feed with other substances (other substances substance id=99)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SubstanceOtherBath",
            "in": "query",
            "description": "Sites bath treated with other substances (other substances substance id=99)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ProductionType",
            "in": "query",
            "description": "Type of production license.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "\n            matfisk, matfisk5pst, matfisk-eco, settefisk, stamfisk, gronn-a, gronn-b, gronn-c, gronn-konvertert,\n            akvakulturdyr-til-konsum, akvakulturdyr-i-tidlige-livsstadier, alger-til-for-konsum, skalldyr, alger-tidlig-fase,\n            oppbevaring-leppefisk, andre, stamdyr, havbeite\n            "
            },
            "example": "\n            matfisk, matfisk5pst, matfisk-eco, settefisk, stamfisk, gronn-a, gronn-b, gronn-c, gronn-konvertert,\n            akvakulturdyr-til-konsum, akvakulturdyr-i-tidlige-livsstadier, alger-til-for-konsum, skalldyr, alger-tidlig-fase,\n            oppbevaring-leppefisk, andre, stamdyr, havbeite\n            "
          },
          {
            "name": "Purpose",
            "in": "query",
            "description": "Type of production license purpose",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "\n            kommersiell, forskning, slaktemerd, fiskepark, visning, undervisning, fangstbasertakvakultur, manntall\n            "
            },
            "example": "\n            kommersiell, forskning, slaktemerd, fiskepark, visning, undervisning, fangstbasertakvakultur, manntall\n            "
          },
          {
            "name": "AnyGreen",
            "in": "query",
            "description": "\"Green\"-license may be used on sites",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CountyMunicipality",
            "in": "query",
            "description": "Norwegian \"kommune-/fylkenummer\"",
            "schema": {
              "maxLength": 20,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "CleanerFish",
            "in": "query",
            "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\nafter week 16, 2018, because of changes in reporting requirements.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Species",
            "in": "query",
            "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\nafter week 16, 2018, because of changes in reporting requirements.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "MechanicalRemoval",
            "in": "query",
            "description": "Has reported mechanical removal of lice",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "InsideIlaControlArea",
            "in": "query",
            "description": "All sites that are inside an ISA restricted zone",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ProductionArea",
            "in": "query",
            "description": "The id of productionarea. Valid values are 1-13",
            "schema": {
              "maximum": 13,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ShrimpFishingGroundProximity",
            "in": "query",
            "description": "All sites that are within 1000 m of shrimpfishingground",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ShrimpfishinggroundOrCodspawninggroundProximity",
            "in": "query",
            "description": "All sites that are within 500 m of shrimpfishingground or codspawningground",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsOnLand",
            "in": "query",
            "description": "Sites that are on land (if false only sites at sea are included)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OnlyWithSalmonoidLicense",
            "in": "query",
            "description": "Only include localities that have a license for salmon, trout or rainbow trout",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "LicenseSpecies",
            "in": "query",
            "description": "One or more species (related to aquaculture register) in lowercase (returned from other endpoint)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "WithinPolygon",
            "in": "query",
            "description": "A polygon, that (when set) makes this method only return localities within the polygon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NonMedicinalTreatmentType",
            "in": "query",
            "description": "Include only localities with the specified nonMedicinalTreatmentTypes.\nOnly relevant for reports from updated licereport form starting 2024.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BW.Api.Api.Licereport.Models.LiceReport.NonMedicinalTreatmentType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/geodata/fishhealth/locality/{localityNo}/{year}/{week}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Detailed site information for a week",
        "description": "Get full site information for a particular site and week specified by site id (localityNo), year and week.\nIn order to interpret this data correctly, familiarity with the lice reporting information from\nthe Norwegian Food Safety Authority (www.mattilsynet.no), ILA/PD disease information from\nthe Norwegian Veterinary Institute (www.vetinst.no) and aquaculture licenses from\nthe Norwegian Directorate of Fisheries (www.fiskeridir.no) is required.\n            \nCleaner fish is not included after week 16, 2018, because of changes in reporting requirements.\n            \nThe localityWeek information is updated nightly, with data reported to the Norwegian Food Safety Authority\nvia AltInn.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/geodata/fishhealth/{year}/{week}": {
      "post": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "National overview for a week",
        "description": "Get summary data for all aquaculture sites for a particular week. Suited to produce an overview of the number\nof aquaculture sites that has lice or disease issues in a week, but also how many aquaculture sites that have submitted\na report for this week.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Additional filters for the national report",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportQueryV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportQueryV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportQueryV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/geodata/fishhealth/locality/{year}/{week}": {
      "post": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Aquaculture site summary for a week",
        "description": "Returns information for a given week about diseases, lice and lice treatment, along with basic information like the aquaculture site's id, name and position.\nThe aquaculture sites may be filtered with optional query parameters.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Additional filters for the locality report",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportQueryV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportQueryV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportQueryV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekReportV2"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekReportV2"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekReportV2"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/geodata/fishhealth/locality/{localityNo}/{year}/{week}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Detailed information about an aquaculture site for a given week",
        "description": "In order to interpret this data correctly, familiarity with the following subjects is required:\naquaculture licenses from the Norwegian Directorate of Fisheries (www.fiskeridir.no),\nlice reporting information from the Norwegian Food Safety Authority (www.mattilsynet.no) and\ndisease information from the Norwegian Veterinary Institute (www.vetinst.no) and the Norwegian Food Safety Authority (www.mattilsynet.no)\n            \nCleaner fish is not included after week 16, 2018, because of changes in reporting requirements.\n            \nThe information is updated nightly, with data reported to the Norwegian Food Safety Authority via AltInn.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "The aquaculture site number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/locality/{localityNo}/disease/{year}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Annual disease summary for a site.",
        "description": "Get disease information for a particular site for a full year.\nAn empty array on the \"data\" property indicates no diseases are confirmed nor suspected for the site in that year.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "The aquaculture site number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/geodata/fishhealth/locality/{localityNo}/disease/{year}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Annual disease case summary for a site.",
        "description": "Get disease detail information for a particular site for a full year.\nAn empty array on the \"data\" property indicates no diseases are confirmed nor suspected for the site in that year.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "The aquaculture site number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v3/geodata/fishhealth/locality/{localityNo}/disease/{year}": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "Annual disease case summary for a site.",
        "description": "Get disease detail information for a particular site for a full year.\nAn empty array indicates no diseases are confirmed nor suspected for the site in that year.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "The aquaculture site number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/geodata/fishhealth/locality/{localityNo}/disease": {
      "get": {
        "tags": [
          "FishHealthLocality"
        ],
        "summary": "All disease case summary for a site.",
        "description": "Get disease detail information for a particular site.\nAn empty array indicates no diseases are confirmed nor suspected for the site in that year.",
        "parameters": [
          {
            "name": "localityNo",
            "in": "path",
            "description": "The aquaculture site number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BW.Api.Api.Diseases.Disease"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/forbiddenmedicinalzone-badebehandling/{id}": {
      "get": {
        "tags": [
          "ForbiddenMedicinalZone"
        ],
        "summary": "Get information about a zone where bath treatments are prohibited.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of prohibition zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenBathTreatmentZone"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenBathTreatmentZone"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenBathTreatmentZone"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/forbiddenmedicinalzone-kitinsyntesehemmere/{id}": {
      "get": {
        "tags": [
          "ForbiddenMedicinalZone"
        ],
        "summary": "Get information about a zone where chitin synthesis inhibitors are prohibited.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of prohibition zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenChitinSynthesisInhibitorZone"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenChitinSynthesisInhibitorZone"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BW.Api.Datasets.ForbiddenMedicinalZones.ForbiddenChitinSynthesisInhibitorZone"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geodata/fishhealth/ilaprotectionzone/{year}/{week}": {
      "get": {
        "tags": [
          "IlaControlArea"
        ],
        "summary": "ISA protection zones by for week",
        "description": "Retrieve information about ISA protection zones. It's important to note that the Fish Health application\ndoes not have access to historical data about such zones. For weeks preceding the start of availability\nof this dataset, data on these zones is not available. See documentation of\nv1/geodata/fishhealth/ilacontrolarea/firstvaliddate endpoint.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "Year part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "week",
            "in": "path",
            "description": "Week part of ISO week date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GeoJson FeatureCollection",
                  "required": [
                    "type",
                    "features"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "enum": [
                        "FeatureCollection"
                      ],
                      "type": "string",
                      "default": "FeatureCollection"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "title": "GeoJson Feature",
                        "required": [
                          "type",
                          "geometry",
                          "properties"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "enum": [
                              "Feature"
                            ],
                            "type": "string",
                            "default": "Feature"
                          },
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object"
                          },
                          "geometry": {
                            "title": "GeoJson Geometry",
                            "type": "object",
                            "anyOf": [
                              {
                                "title": "GeoJson Point Geometry",
                                "required": [
                                  "type",
                                  "coordinates"
                                ],
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "Point"
                                    ],
                                    "type": "string",
                                    "default": "Point"
                                  },
                                  "coordinates": {
                                    "minItems": 2,
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "example": [
                                      10.4,
                                      60.5
                                    ]
                                  }
                                }
                              },
                              {
                                "title": "GeoJson LineString Geometry",
                                "required": [
                                  "type",
                                  "coordinates"
                                ],
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "LineString"
                                    ],
                                    "type": "string",
                                    "default": "LineString"
                                  },
                                  "coordinates": {
                                    "minItems": 2,
                                    "type": "array",
                                    "items": {
                                      "minItems": 2,
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "example": [
                                        10.4,
                                        60.5
                                      ]
                                    }
                                  }
                                }
                              },
                              {
                                "title": "GeoJson Polygon Geometry",
                                "required": [
                                  "type",
                                  "coordinates"
                                ],
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "Polygon"
                                    ],
                                    "type": "string",
                                    "default": "Polygon"
                                  },
                                  "coordinates": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                      "minItems": 4,
                                      "type": "array",
                                      "items": {
                                        "minItems": 2,
                                        "type": "array",
                                        "items": {
                                          "type": "number"
                                        },
                                        "example": [
                                          10.4,
                                          60.5
                                        ]
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "title": "GeoJson MultiPolygon Geometry",
                                "required": [
                                  "type",
                                  "coordinates"
                                ],
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "MultiPolygon"
                                    ],
                                    "type": "string",
                                    "default": "MultiPolygon"
                                  },
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "minItems": 1,
                                      "type": "array",
                                      "items": {
                                        "minItems": 4,
                                        "type": "array",
                                        "items": {
                                          "minItems": 2,
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          },
                                          "example": [
                                            10.4,
                                            60.5
                                          ]
                                        }
                                      }
[...]
